/target
/venv*
/dataset
/testdata

__pycache__

*.pyc
*.pyo
*.pyd

*.xml
*.json
*.arrow
*.mcap
*.data
*.pt
*.keras
*.h5
*.onnx
*.tflite
*.rtm
*.profraw 

.DS_Store
*.disabled

/playingcards*
/coco*
!coco.py
/val/

labels.txt
checkpoint*.txt
edgefirst.yaml

*.html

lcov.info

THIRD_PARTY*

# Generated man page
*.1

env.sh
